{% set title = "Josh Blackburn Albums" %}
{% extends "base.html" %}
{% block body %}

{% for album in album_list %}
	{% set a = loop.revindex0 %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<h3>{{ album.title }} ({{ album.year }})</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<ol>
					{% for track in album.tracks %}
						<li>{{ loop.index }}. {{ track }}</li>
					{% endfor %}
				</ol>
			</div>
			<div class="hidden-xs col-sm-6 col-md-4">
                    <p>
				<img src="/static/img/{{ album.art }}.jpg" alt="{{ album.title }} album art">
                    </p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				{{ album.blurb|safe }}
			</div>
		</div>
		{% if album.title == "Dirty Bird" %}
		<div class="row">
			<div class="col-xs-8">
				{% include "dirty_bird_links.html" %}
			</div>
		</div>
		{% endif %}
		{% if album.title == "Purple Elephant" %}
		<div class="row">
			<div class="col-xs-8">
				{% include "purple_elephant_links.html" %}
			</div>
		</div>
		{% endif %}
		{% if album.title == "Flipside" %}
		<div class="row">
			<div class="col-xs-8">
				{% include "flipside_links.html" %}
			</div>
		</div>
		{% endif %}
		{% if album.title == "Straight & Narrow" %}
		<div class="row">
			<div class="col-xs-8">
				{% include "straight_and_narrow_links.html" %}
			</div>
		</div>
		{% endif %}
	</div>
{% endfor %}
{% endblock %}
