{% set title = "Josh Blackburn Official" %}
{% extends "base.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12"><h3>Background</h3></div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">1990:</div>
		<div class="col-xs-8 col-sm-10">Started playing guitar</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">1996-2000:</div>
		<div class="col-xs-8 col-sm-10">Played lead guitar and fronted the band "Freemans Ride" in Oxford, MS while attending the University of Mississippi</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2000:</div>
		<div class="col-xs-8 col-sm-10">Played lead guitar for Disney Cruise Lines</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2001:</div>
		<div class="col-xs-8 col-sm-10">Worked with Greg Barnhill in Nashville in a project called ESKRA</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2001-2005:</div>
		<div class="col-xs-8 col-sm-10">Played lead guitar in the original "Hogs Breath Band" in Destin, FL</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2005-Now:</div>
		<div class="col-xs-8 col-sm-10">Playing solo all over Colorado</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12"><h3>Album Releases</h3></div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">1999:</div>
		<div class="col-xs-8 col-sm-10">Songs You've Never Heard in Johnny's Mind</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2003:</div>
		<div class="col-xs-8 col-sm-10">Brand New Something</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2007:</div>
		<div class="col-xs-8 col-sm-10">Starting Ground (Produced by Peter Malick)</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2010:</div>
		<div class="col-xs-8 col-sm-10">Flipside (Produced by Trevor Huster)</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2012:</div>
		<div class="col-xs-8 col-sm-10">Purple Elephant</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2015:</div>
		<div class="col-xs-8 col-sm-10">Dirty Bird</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12"><h3>Awards</h3></div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2005:</div>
		<div class="col-xs-8 col-sm-10">Best Guitarist of Colorado in Guitar Town Contest</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2010:</div>
		<div class="col-xs-8 col-sm-10">Gigazm "Rockband Challenge" winner</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2012:</div>
		<div class="col-xs-8 col-sm-10">Fords Gimme The Gig II Finalist</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2013:</div>
		<div class="col-xs-8 col-sm-10">Westwords "Best of the West" Finalist</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12"><h3>Film and Media</h3></div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2009:</div>
		<div class="col-xs-8 col-sm-10">Lonely Street Movie Soundtrack</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-2">2012:</div>
		<div class="col-xs-8 col-sm-10">"Im Dirt" from Flipside on Rockband Network</div>
	</div>
</div>
{% endblock %}
