<form style="display: none" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" name="dirtybird">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="fearlesstone@aol.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="Dirty Bird (CD) - Josh Blackburn - Fearless Productions (2015)">
<input type="hidden" name="amount" value="12.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
</form>
<p class="links">
<a href="#" onclick="document.forms.dirtybird.submit();"><img src="/static/img/paypal.png" alt="Buy with Paypal"></a>
<a href="https://music.apple.com/us/album/dirty-bird/1049139932" target="_blank"><img src="/static/img/itunes.png" alt="Buy on Apple Music"></a>
<a href="https://www.amazon.com/Dirty-Bird-Josh-Blackburn/dp/B016N8ZB7Y/" target="_blank"><img src="/static/img/amazon.png" alt="Buy on Amazon"></a>
</p>

