<form style="display: none" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="fearlesstone@aol.com">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="Dirty Bird (CD) - Josh Blackburn - Fearless Productions (2015)">
<input type="hidden" name="amount" value="12.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
</form>
<p class="links">
<a href="https://itunes.apple.com/us/album/dirty-bird/id1049139932" target="_blank"><img src="/static/img/itunes.png" alt="Buy on iTunes"></a>
<a href="https://store.cdbaby.com/cd/joshblackburn3" target="_blank"><img src="/static/img/cdbaby.png" alt="Buy on CD Baby"></a>
<a href="https://www.amazon.com/Dirty-Bird-Josh-Blackburn/dp/B016N8ZB7Y/" target="_blank"><img src="/static/img/amazon.png" alt="Buy on Amazon"></a>
<a href="#" onclick="document.forms[0].submit();"><img src="/static/img/paypal.png" alt="Buy with Paypal"></a>
</p>

