<form style="display: none" name="dirty_bird" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WBGJXT7FRPFQG">
</form>
<p class="links">
<a href="#" onclick="document.forms.dirty_bird.submit();"><img src="/static/img/paypal.png" alt="Buy with Paypal"></a>
<a href="https://music.apple.com/us/album/dirty-bird/1049139932" target="_blank"><img src="/static/img/itunes.png" alt="Buy on Apple Music"></a>
<a href="https://www.amazon.com/Dirty-Bird-Josh-Blackburn/dp/B016N8ZB7Y/" target="_blank"><img src="/static/img/amazon.png" alt="Buy on Amazon"></a>
<a href="https://open.spotify.com/album/65Xu38FQnAw2BrcUvsJZiL" target="_blank"><img src="/static/img/spotify.png" alt="Listen on Spotify"></a>
</p>

