      <div class="container">
		<a href="https://twitter.com/fearlesstone" target="_blank"><img src="/static/img/twitter.png" alt="twitter"></a>
		<a href="https://www.facebook.com/Josh-Blackburn-249323484930/" target="_blank"><img src="/static/img/facebook.png" alt="facebook"></a>
		<a href="https://calendar.google.com/calendar/embed?src=josh%40joshblackburn.com" target="_blank"><img src="/static/img/calendar.png" alt="calendar"></a>
      </div>
      <div id="photo-credit" class="text-muted">Photo courtesy <a href="https://www.facebook.com/john.cutaia" target="_blank">John Cutaia</a></div>
