{% set title = "Josh Blackburn Official" %}
{% extends "base.html" %}
{% block body %}

{% if todayShows|length > 0 %}
	<div class="container">
	<h3>Today's shows</h3>
	{% for event in todayShows %}
		<p>
		{{ event.time }}
		{% if event.map_link %}
			<a href="{{ event.map_link }}" target="_blank" title="Open in Maps">{{ event.title }}</a>
		{% else %}
			{{ event.title }}
		{% endif %}
		</p>
	{% endfor %}
	</div>
{% endif %}

<div class="container">
	<h3>Straight &amp; Narrow (2021)</h3>
	<img src="/static/img/straight_and_narrow.jpg" alt="straight and narrow album art">
    {% include "straight_and_narrow_paypal.html" %}
</div>
<div class="container">
	<h3>Load You Bear by Josh Blackburn feat. Hazel Miller</h3>
    <iframe width="790" height="444" src="https://www.youtube.com/embed/COGQC5g9rsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}
