{% set title = "Josh Blackburn Official" %}
{% extends "base.html" %}
{% block body %}

{% if todayShows|length > 0 %}
	<div class="container">
	<h3>Today's shows</h3>
	{% for event in todayShows %}
		<p>
		{{ event.time }}
		{% if event.map_link %}
			<a href="{{ event.map_link }}" target="_blank" title="Open in Maps">{{ event.title }}</a>
		{% else %}
			{{ event.title }}
		{% endif %}
		</p>
	{% endfor %}
	</div>
{% endif %}

<div class="container">
	<h3>Straight &amp; Narrow (2021)</h3>
	<img src="/static/img/straight_and_narrow.jpg" alt="straight and narrow album art">
</div>
<div class="container">
	<p>Straight &amp; Narrow - Fearless Productions (2021)</p>
</div>
{% endblock %}
