{% set title = "Authentication Required" %}
{% extends "base.html" %}
{% block body %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container">
<form method="post">
  <div class="form-group">
	<label for="password">Password:</label>
	<input type="password" class="form-control" name="password" id="password" required onkeyup="disableIfBlank();" autofocus>
  </div>
  <div class="form-group">
	<div class="g-recaptcha" data-sitekey="{{ site_key }}" data-theme="dark" data-callback="captchaDone"></div>
  </div>
  <button type="submit" name="submit" class="btn btn-default">Submit</button>
</form>
</div>
<script>
var captcha = false;
function disableIfBlank() {
	if(document.forms[0].password.value == "" || captcha == false) {
		document.forms[0].submit.disabled=true;
	} else {
		document.forms[0].submit.disabled=false;
	}
}
disableIfBlank();
function captchaDone(response) {
	captcha = true;
	disableIfBlank();
}
</script>

{% endblock %}
