<form style="display: none" name="straight_and_narrow" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7JC7FUKNGUD2S">
</form>
<p class="links">
<a href="#" onclick="document.forms.straight_and_narrow.submit();"><img src="/static/img/paypal.png" alt="Buy with Paypal"></a>
<a href="https://music.apple.com/us/album/straight-and-narrow/1570187029" target="_blank"><img src="/static/img/itunes.png" alt="Buy on Apple Music"></a>
<a href="https://www.amazon.com/Straight-Narrow-Josh-Blackburn/dp/B09693PK8X" target="_blank"><img src="/static/img/amazon.png" alt="Buy on Amazon"></a>
</p>
